:root {
    --backgroundColor: rgb(115, 209, 176);
    --color1: rgb(34, 70, 100);
    --colorBorder: rgb(22, 47, 68);
    --colorBorder2: rgb(12, 82, 64);
    --colorLink: rgb(102, 0, 236);
    --colorLinkHover: rgb(9, 84, 119);
    --colorLinkActive: black;
    --colorP: rgb(164, 190, 240);
    --colorLinkHeader: rgb(164, 190, 240);
    --colorLinkHeaderHover: rgb(128, 172, 189);
    --colorButton: pink;
}

body {
    background-color: var(--backgroundColor);
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    border-radius: 20px;
}

li {
    list-style: none;
}

main {
    width: 100%;
    display: flex;
}

hr {
    border: 2px solid var(--colorBorder);
    border-radius: 15px;
    height: 5px;
    width: 65%;
    background-color: var(--color1);
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: var(--colorLink);
    text-decoration: none;
}

a:hover {
    color: var(--colorLinkHover);
}

