footer {
    border: 3px solid var(--colorBorder);
    border-bottom: none;
    background-color: var(--colorBackgroundElement);
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    padding-top: 9px;
    padding-bottom: 9px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
}

.footer_parent {
    position: relative;
}

footer>ul {
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

footer>ul>li {
    margin-right: 10px;
    margin-left: 10px;
}

footer>p {
    align-self: center;
    margin: 0;
    margin-right: 10px;
}