:root {
    --colorTextHeader: rgb(0, 0, 0);
    --colorTextHeaderHover: rgb(0, 0, 0);
    --colorLinkHeader: rgb(100, 187, 129, 0.65);
    --colorLinkHeaderHover: rgb(68, 114, 83);
}

header {
    border: 2px solid var(--colorBorder);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    position: sticky;
    border-radius: 10px;
    top: 10px;
    left: 0;
    right: 0;
    font-size: large;
    background-color: rgba(18, 125, 224, 0.1);
    backdrop-filter: blur(2px);
}

header>nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header>nav>ul>li {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.buttonHeader {
    border: 0px solid var(--colorBorder);
    background-color: var(--colorBorder);
    text-align: center;
    width: 160px;
    padding: 9px;
    border-radius: 10px;
    color: var(--colorTextHeader);
    backdrop-filter: blur(25px);
}

.buttonHeader:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgb(18, 125, 224, 0.1);
    color: var(--colorLinkHeaderHover);
}