:root {
    --colorHeader: var(--colorBorder);
    --colorLinkHeaderHover: rgb(22, 68, 113);
}

header {
    border: 1px solid var(--colorHeader);
    margin: 8px 5px 8px 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    border-radius: 10px;
    align-self: center;
    font-size: large;
    background-color: rgba(22, 68, 113, 0.1);
    backdrop-filter: blur(2px);
    z-index: 998;
}

header>nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header>nav>ul>li {
    margin: 8px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.buttonHeader {
    border: 0px solid var(--colorHeader);
    background-color: var(--colorHeader);
    text-align: center;
    width: 180px;
    padding: 7px;
    border-radius: 10px;
    color: black;
    backdrop-filter: blur(25px);
}

.buttonHeader:hover {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1) inset,
    -6px -6px 6px rgba(16, 40, 64, 0.2) inset;
    color: black;
}