:root {
    --colorHeader: var(--colorBorder);
    --colorLinkHeaderHover: rgb(7, 134, 56);
}

header {
    border: 2px solid var(--colorHeader);
    margin: 10px 5px 10px 5px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    display: flex;
    position: fixed;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    font-size: large;
    background-color: rgba(18, 125, 224, 0.1);
    backdrop-filter: blur(2px);
    z-index: 998;
}

header>nav>ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

header>nav>ul>li {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.buttonHeader {
    border: 0px solid var(--colorHeader);
    background-color: var(--colorHeader);
    text-align: center;

    width: 180px;
    padding: 9px;
    border-radius: 10px;
    color: black;
    backdrop-filter: blur(25px);
}

.buttonHeader:hover {
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1) inset,
    -7px -7px 7px rgba(2, 128, 86, 0.2) inset;
    color: var(--colorLinkHeaderHover);
}