

main {
    flex-direction: column;
}

.titrePortefolio {
    align-self: center;
    font-size: 1.2cm;
    text-align: center;
}

.images {
    width: 240px;
    height: 285px;
}

section {
    flex-direction: column;
}

div>section>p {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    text-indent: 30px;
}

section>a {
    margin-top: auto;
}

h1 {
    margin: 0;
    margin-bottom: 5px;
    /*dégradé stylé
    background: linear-gradient(to right, red, blue);
    background-clip: text;
    color: transparent;*/
}

.imgGauche {
    flex-wrap: wrap-reverse;
}
