header>nav>ul>li:nth-child(4)>a {
    background-color: var(--colorLinkHeaderHover);
}

main {
    flex-direction: column;
}

h1 {
    font-size: larger;
}

div {
    width: 75%;
    align-self: center;
}

div>p {
    background-color: var(--colorP);
    border-radius: 20px;
    border: 1px solid var(--colorBorder);
    min-height: 100px;
    padding: 7px;
}